html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.canvas {
	width: 100vw;
	min-height: 100vh;
	touch-action: none;
}

.configbar {
	background-color: #1e1e1e;
	color: whitesmoke;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 10px;
	transform: translate(0, -50%);
	width: 100px;
	border: 1px solid #3e3e3e;
	border-radius: 5px;
	padding: 10px;
	gap: 5px;
}

input {
	background-color: transparent;
	outline: none;
	border: none;
	accent-color: whitesmoke;
	color: whitesmoke;
}

.button {
	background-color: #2e2e2e;
	color: whitesmoke;
	border: none;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 1rem;
	font-weight: normal;
	display: grid;
	place-content: center;
}

.selected_draw {
	background-color: #4d4d4d;
}

.button:hover {
	background-color: #4d4d4d;
}

.input {
	display: block;
	width: 100%;
}

.input[type='color'] {
	width: 25px;
	height: 25px;
}

.input[type='range'] + .input {
	width: 18px;
	padding: 0;
	text-align: center;
}

.input[type='range'] + .input:focus {
	outline: none;
}

.label {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
}

.lbl_color {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
}

#drawables {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

@media (max-width: 1024px) {
	.configbar {
		width: 100%;
		max-width: max-content;
		height: 100px;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		flex-direction: row;
	}

	#drawables {
		grid-template-rows: repeat(2, 1fr);
	}

	.actions {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 5px;
		max-width: 160px;
	}

	.range {
		grid-row: 3;
		grid-column: 1 / 3;
	}

	.lbl_color {
		display: flex;
		gap: 5px;
	}
}

.icon {
	width: 20px;
	height: 20px;
	max-width: 24px;
	fill: whitesmoke;
}
